.port {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.portInfo {
  display: flex;
  flex-direction: column;
}

.portNumber {
  font-weight: bold;
  font-size: 1.4rem;
}

.portType {
  color: #6c757d;
  font-size: 1.5rem;
}

.statusOpen {
  color: green;
  font-weight: bold;
  font-size: 1.3rem;
}

.statusClosed {
  color: red;
  font-weight: bold;
  font-size: 1.3rem;
}
